*/.idea/*
*/*/.idea/*
*/*/project/*
*.class
*.cache
*.jar
*.xml
*/target/*
*/*/target/*
*~
*#
*.pdf
*.pyc
*.zip
*.iml
*/*/submission/*
*.settings*
*.mp4
*/*/*/project/*
*/*/*/.idea/*
*/*/*/submission/*
*/*/*/target/*
*.pptx
*/*/compiled/*
*.jpg

